body{
   /* background-color: #008b8b; */
    background-size: 100%;
}

.field-wrapper ,.fee-wrapper,.items-wrapper {
    display: inline-block;
   
}

.continer1{ 
    width: 740px;
    margin: 15px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 5px 5px 5px 5px;
    border:black;
    border-style: solid;
    padding: 1%;
}

.logoTempleContiner{ 
    opacity: 0.7;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    border-bottom: 1px solid black;
    display:flex;
    flex-wrap: wrap;   
}

.firstTempleContiner {
    border-bottom: 2px solid #839788;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.receiptTempleContiner{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #839788;  
}

.dateTempleContiner{
    border-bottom: 2px solid #839788; 
}

.itemsContiner{
    padding: 1%;
    border-top: 2px solid #839788;
}

#buttonContiner{
    padding: 1%;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color:#ABD3DD;
    border: none;  
  }

button:hover {
      background-color: #008b8b;
  }
 
button:active {
    background-color: #008b8b;
  }

.fee-wrapper{
    margin-left: 20px;
}

#labelFee , #labelfloor {  
    width: 50px;
}

#NumberArt{
    width: 70px; 
}
#pieceArt{
    width: 35px;
}
#scalesArt{
     width: 50px;
}

#bringDiv{ 
    margin-top: -30px;
    margin-left: 100px;
    height: 35px;
    width: 400px;
    display:  none; 
}

#table{  
    font-size:larger; 
    text-align: center;
    
}

#tableN{

    background-color: #ABD3DD;

}
#tableID{
    width:  700px;
    font-size: medium;
    text-align: center;
}

#tableNumber{
    width: 150px;
}

td:hover{
    background-color: #3e8e41
}



input {
    margin: 5px 10px;
    border: none;
    position: relative;
    border-bottom: 1px solid black;
}

input:hover{
     
    background-color: #ABD3DD;
}

input:active{
   background-color: #ABD3DD;
} 

